# ============================================================
# HotelBookCI — .gitignore
# ============================================================

# Environnement virtuel Python — NE JAMAIS committer !
venv/
env/
.venv/
.env/

# Variables d'environnement — DONNÉES SENSIBLES !
.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django
db.sqlite3
db.sqlite3-journal
*.log
local_settings.py
media/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Tests
.coverage
htmlcov/
.pytest_cache/
